<!DOCTYPE html>
{% load static %}
<html lang=en>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'bigscreen.css' %}">

        <title>Status for Ferdi</title>
    </head>
    <section>
        <div class="bg">
            <div class="container" style="max-width: 70%; display: flex; justify-content: center; align-items: center; margin-top: 0%;">
                <div class="row-12">
                    <div class="col" style="text-align: center;">
                        <h1 class="one" style="color: white;">
                            Hello, how are you?
                        </h1>
                    </div>
                    <form action="/" method="POST" class="col">
                        {% csrf_token %}
    
                        {{ form.as_p }}
                        <input type="Submit" name="button_input" class="btn btn-primary" value="Enter" style="margin-top : 2%;text-align: center;margin-right: auto; margin-left: auto;border-radius: 18px;">
    
                    </form>
                    <div class="col" style="color: white; margin: 0 auto 0 auto;text-align: center;overflow-y: scroll; max-height: 200px; ">
                        {% for i in status %}
                            <p>
                                {{ i.user_status }} - {{i.published_date}}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </section>
    <foot style="position: absolute; top: 95%; width: 100%;">
        <p style="color: white; text-align: center;">
            <i>
                Ferdi Sungkar © 2020
            </i>
        </p>
    </foot>
</html>